[user]
	name = Hammad Khalid
	email = hammad.kd@gmail.com

# Ignore Custom dictionary #
/.emacs.d/emacs-desktop
/.emacs.d/.emacs.desktop.lock
/.emacs.d/auto-save-list/*
/.emacs.d/backups/*
/.emacs.d/plugins/ispellCustomDictionary/*