[user]
	name = Hammad Khalid
	email = hammad.khalid@shopify.com
[alias]
	st = status
	co = checkout
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[push]
	default = upstream
[core]
	editor = vim
