[user]
  name = Hammad Khalid
  email = hammad.khalid@shopify.com
[alias]
  ap="add -p"
  aa="add --all"
  b="branch"
  ba="branch --all"
  bsort="for-each-ref --sort=-committerdate refs/heads/ --format='%(refname:short)'"
  dc="diff --cached"
  di="diff"
  dim="diff origin/master"
  dimn="diff --name-only origin/master"
  co="checkout"
  com="checkout master"
  ci="commit -v"
  cp="cherry-pick -n"
  lg=log --date-order --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  g=log --date-order --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset' --graph
  ga=log --date-order --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset' --graph --all
  pl="pull"
  ph="push"
  rb="rebase"
  rbm="rebase master"
  rbc="rebase --continue"
  st="status"
  ss="status --short"
[push]
  default = upstream
[core]
  editor = vim
	excludesfile = ~/.gitignore
[color]
  ui = true
[github]
  user = hammadk
[column]
  ui = auto,dense
[pull]
	rebase = true
[init]
	templatedir = ~/.git_template
