"*":
  core: {}
  "custom-title":
    template: "<%= fileName %><% if (filePath) { %> - <%= filePath %><% } %>"
  editor:
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "0d55344d-8ac1-7351-d8fa-b7250b977745"
  "pretty-json":
    prettifyOnSaveJSON: true
  "tabs-to-spaces":
    onSave: "untabify"
  welcome:
    showOnStartup: false
  whitespace: {}
